GoogleAuth_PrivateKey="Your Google Service Account Private Key"
GoogleAuth_ClientEmail="Your Google Service Account Client Email"
GoogleAuth_EduriseEmail="Your Email (Ensure you have shared your calender with the client email)"